@import url("https://fonts.googleapis.com/css?family=Allura");

body {
  font-family: "Allura", cursive !important;

  background: url(http://evewithoutadam.com/assets/stromae-1.jpeg) no-repeat;
  background-size: cover;
}

.keys {
  display: flex;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
h1 {
  font-size: 45px;
  text-align: right;
  margin-right: 100px;
}
iframe {
  margin-top: -30px;
  margin-left: 70%;
  margin-bottom: 40px;
}
.how {
  font-size: 25px;

  text-align: center;
}
